*{
    margin:0;
    padding:0;
    box-sizing: content-box;
}

.global-header{
    width:100%;
    height:70px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    padding:20px;
    position:relative;
}
.global-header__content{
    display: flex;
    padding-top:15px;
    
}
.global-header__content__button img{
    position: absolute;
    left:15rem;
}
.global-search{
    position: absolute;
    left:40rem;
}
.global-header-logo{
    position: absolute;
    left:70rem;
    padding-top:.7rem;
    display: flex;
    justify-content: space-between;
}


.global-header-logo, .nav-link{
    color:black;
    margin:.2rem;
  
}
.global-search{
   display: flex;
   
}
.form-inline{
    display:flex;

    
    
}
.form-inline .form-control {
    margin-right: 10px; /* Adjust this value as needed */
}
.button{
    color:#833AB4;
}